<!-- display var -->
<p>純顯示</p>
{{ name + '!!'}}
<hr>

<!-- property binding -->
<!-- Q: property & attribute 的差異?-->
<!-- 單向綁定，這裡改變值 component 的值不會跟著變 -->
<p>單向綁定</p>
<input type="text" [value]="name" [attr.id]="name" />
<hr>

<!-- event binding -->
<p>事件綁定: </p>
<button (click)="show()">show alert</button>
<button (click)="getEvent($event)">get event</button>
<hr>

<!-- two-way binding -->
<!-- 雙向綁定，template 跟 component 的值會一起改變 -->
<p>雙向綁定[(ngModel)]: </p>
<input type="text" [(ngModel)]="name" />
<br>

<!-- [(ngModel)] = [ngModel] + (ngModelChange) -->
<!-- 針對 ngModelChange 要做一些額外的事情，就會把它分開寫 -->
<p>雙向綁定[ngModel] + (ngModelChange): </p>
<input type="text" [ngModel]="name" (ngModelChange)="name=$event">
<br>

<p>雙向綁定[ngModel] + (ngModelChange) = doSomethingWhenModelChange: </p>
<input type="text" [ngModel]="name" (ngModelChange)="doSomethingWhenModelChange($event)">
<hr>

<!-- display a list -->
<p>*ngFor</p>
<ul>
  <li *ngFor="let item of items">
    {{ item }}
  </li>
</ul>
<hr>

<p>*ngIf</p>
<button (click)="showSpan = !showSpan">toggle show</button>
<span *ngIf="showSpan; else showNothing">
  show span
</span>
<hr>

<!-- template Ref -->
<p>範本參考變數(只能存在一個，但如果是ngFor就可以，因為作用域的不同)</p>
v: <input type="text" #v (keyup.enter)="showValue(v)" />
<br>

<div #content>
  some text
</div>
content: <input type="text" (keyup.enter)="showValue(content)" />

<ng-template #showNothing>
  nothing to show
</ng-template>

<app-hello [customerName]="name" (send)="getEvent($event)"></app-hello>
